<%= form_with model: template do |t_f| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>
      <ul>
        <% template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field is-grouped">
    <div class= 'field control is-horizontal'>
      <%= t_f.label :prefix, class: "field-label" %>
      <%= t_f.text_field :prefix, maxlength: 10, placeholder: "Max 10 characters", class: 'input' %>
    </div>
    <div class= 'field control is-horizontal'>
      <%= t_f.label :name, class: "field-label" %>
      <%= t_f.text_field :name, class: 'input' %>
    </div>
  </div>
  <div class= 'field'>
    <%= t_f.label :text, class: "field-label" %>
    <%= t_f.text_area :text, class:'textarea' %>
  </div>
  <div class='field is-grouped' >
    <%= t_f.submit 'Acept and save', class: 'control button is-success', data:{turbo_frame: "_top"} %>
    <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: 'control button' %>
  </div>
<% end %>
