<nav class="level is-mobile pt-3">
  <div class="level-left pl-5">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Name</p>
      </div>
    </div>
  </div>
  <div class="level-right pr-5">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Prefix</p>
      </div>
    </div>
  </div>
</nav>
<!--
-->
<% @templates.each do |template| %>
  <%= turbo_frame_tag "id" do%>
    <article class="message is-success">
      <div class="message-header">
        <%= tag.p template.name %>
        <%= tag.p template.prefix %>
      </div>
      <div class="message-body">
        <%= tag.p template.text %>
        <div class="field is-grouped mt-1">
          <div class="control">
            <%= link_to "Edit", edit_template_path(template), class: "button" %>
          </div>
          <div class="control">
            <%= link_to "Delete", template_path(template), class: "button", data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
