<div class="container mt-4">
  <article class="panel is-primary">
    <p class="panel-heading">
      Templates
    </p>
    <p class="panel-tabs">
      <div class="tabs is-toggle is-centered box" >
        <ul data-controller="hamburguer">
          <li class="is-active" data-action='click->hamburguer#toggle'>
            <%= link_to "All templates", templates_path, data: {turbo_frame: "templates"}  %>
          </li>
          <li data-action='click->hamburguer#toggle'>
            <%= link_to "Gross templates", macro_templates_path, data: {turbo_frame: "templates"}  %>
          </li>
          <li class="" data-action='click->hamburguer#toggle'>
            <%= link_to "Histologic templates", micro_templates_path, data: {turbo_frame: "templates"}  %>
          </li>
          <li class="" data-action='click->hamburguer#toggle'>
            <%= link_to "Diagnosis templates", diagnosis_templates_path, data: {turbo_frame: "templates"}  %>
          </li>
        </ul>
      </div>
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-primary" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <%= turbo_frame_tag "templates" do %>
      <%= render "templates/templates_table" %>
    <% end %>
  </article>
</div>
<div class="container mt-4">
  <%= turbo_frame_tag "new_template"%>
</div>
<div class="container mt-4">
  <%= form_with url: new_template_url, method: :get  do |f| %>
    <div class= "field">
      <div class="control">
        <div class="select">
          <%= f.select :template_type,[["Gross description", "macro_template"], ["Microscopic description", "micro_template"], ["Diagnosis Template", "diagnosis_template"]] %>
        </div>
      </div>
    </div>
    <div class='field is-grouped' >
      <%= f.submit "New Template", class: 'control button is-success', data:{turbo_frame: "new_template"} %>
      <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: 'control button' %>
    </div>
  <% end %>
</div>
