<%= form_with model: @template do |t_f| %>
  <div class= "field">
    <%= t_f.label :type, 'Type of template' %>
    <div class="control">
      <div class="select">
        <%= t_f.select :type,["macro", "micro", "diagnosis"] %>
      </div>
    </div>
  </div>
  <div class= 'field'>
    <%= t_f.label :prefix, 'Prefix' %>
    <%= t_f.text_field :prefix, class: 'input' %>
  </div>
  <div class= 'field'>
    <%= t_f.label :name %>
    <%= t_f.text_field :name, class: 'input' %>
  </div>
  <div class= 'field'>
    <%= t_f.label :text %>
    <%= t_f.text_area :text, class:'textarea' %>
  </div>
  <div class='field is-grouped' >
    <%= t_f.submit 'Acept and save', class: 'control button is-success', data:{turbo_frame: "_top"} %>
    <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: 'control button' %>
  </div>
<% end %>
