<%# this partial can be safely removed %>
<%= form_with model: my_case do |f| %>
  <%= render 'layouts/form_messages', object: my_case %>
  <fieldset>
    <%= f.hidden_field :patient_id, value: params[:patient_id] %>
    <div>
      <%= f.label :pathologist_id, 'Patholgist in charge' %>
      <%= f.collection_select :pathologist_id, Pathologist.order(:last_name), :id, :full_name %>
    </div>
    <div>
      <%= f.label :protocol_number, 'Protocol Number' %>
      <%= f.text_field :protocol_number %>
    </div>
    <div>
      <%= f.label :status, 'Status' %>
      <%= f.select :status, [['Gross sectioning', 'gross_examination'], ['Histotecnology', 'histotechnology'], ['Microscopic examination', 'microscopic_examination'], ['Diagnosed', 'diagnosed']] %>
    </div>
    <div>
      <%= f.label :organ, 'Organ' %>
      <%= f.text_field :organ %>
    </div>
    <div>
      <%= f.label :type_of_sample, 'Sample' %>
      <%= f.radio_button :type_of_sample, 'biopsy' %>
      <%= f.label :type_of_sample_biopsy, 'Biopsy' %>
      <%= f.radio_button :type_of_sample, 'citology' %>
      <%= f.label :type_of_sample_citology, 'Citology' %>
      <%= f.radio_button :type_of_sample, 'autopsy' %>
      <%= f.label :type_of_sample_autopsy, 'Autopsy' %>
    </div>
    <div>
      <%= f.label :physician, 'Physician' %>
      <%= f.text_field :physician %>
    </div>
    <div>
      <%= f.label :speciality, 'Speciality' %>
      <%= f.text_field :speciality %>
    </div>
  </fieldset>
  <fieldset>
    <div>
      <%= f.label :macro_description %>
      <%= f.text_area :macro_description %>
    </div>
    <div>
      <%= f.label :micro_description %>
      <%= f.text_area :micro_description %>
    </div>
    <div>
      <%= f.label :diagnosis, 'Diagnosis' %>
      <%= f.text_area :diagnosis %>
    </div>
    <div>
      <%= f.label :notes %>
      <%= f.text_field :notes %>
    </div>
  </fieldset>
  <fieldset>
    <div>
      <%= f.submit 'Acept and save', class: 'button is-success' %>
      <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class:'button is-warning' %>
    </div>
  </fieldset>
<% end %>
