<section>
  <div class="table-container">
    <table class= 'table'>
      <tr>
        <th>Pathologist</th>
        <td><%= link_to my_case.pathologist.full_name, pathologist_path(my_case.pathologist) %></td>
      </tr>
      <tr>
        <th>Protocol Number</th>
        <td><%= my_case.protocol_number %></td>
        <th>Status</th>
        <td><%= my_case.status_sjc %></td>
      </tr>
      <tr>
        <th>Organ</th>
        <td><%= my_case.organ.capitalize %></td>
        <th>Sample</th>
        <td><%= my_case.type_of_sample.capitalize %></td>
      </tr>
      <tr>
        <th>Physician</th>
        <td><%= my_case.physician.capitalize %></td>
        <th>Speciality</th>
        <td><%= my_case.speciality.capitalize %></td>
      </tr>
    </table>
  </div>
</section>
<section>
  <div class="table-container">
    <table class = 'table'>
      <tr>
        <th>Gross description</th>
        <td><%= my_case.macro_description.capitalize %></td>
        <th>Microscopic description</th>
        <td><%= my_case.micro_description.capitalize %></td>
      </tr>
      <tr>
        <th>Diagnosis</th>
        <td><%= my_case.diagnosis.capitalize %></td>
        <th>Notes</th>
        <td><%= my_case.notes.capitalize %></td>
      </tr>
      <tr>
        <th>Comments</th>
        <td><%= my_case.comment&.capitalize %></td>
      </tr>
    </table>
  </div>
</section>
<div class="field is-grouped">
  <%= link_to 'Resume case', edit_case_path(@case), class: 'control button is-success' %>
  <%= link_to 'Preview report', sign_inform_case_path(@case), class: 'control button is-info', data:{turbo_frame: '_top'} %>
  <div data-controller="tooltips">
    <%= link_to 'Send report', send_report_case_path(@case), class: 'control button is-info', data:{turbo_frame: '_top', action:"mouseenter->tooltips#sendReportTooltip mouseleave->tooltips#sendReportTooltip" }, :title => "Patient must have e-mail AND/OR case must be diagnosed", :disabled => !(@case.patient.email? && @case.diagnosed?) %>
    <span data-tooltips-target="tooltipText"  class="is-hidden">Must have an email AND/OR case must be diagnosed!</span>
  </div>
</div>
