<%= form_with model: @case do |f| %>
  <fieldset>
    <%= f.fields_for @patient do |p_f|%>
      <div>
        <%= p_f.label :dni, 'DNI' %>
        <%= p_f.text_field :dni %>
      </div>
      <div>
        <%= p_f.label :f_last_name, 'First surname' %>
        <%= p_f.text_field :f_last_name %>
      </div>
      <div>
        <%= p_f.label :l_last_name, 'Second surname' %>
        <%= p_f.text_field :l_last_name %>
      </div>
      <div>
        <%= p_f.label :name, 'First name' %>
        <%= p_f.text_field :name %>
      </div>
      <div>
        <%= p_f.label :gender, 'Gender' %>
        <%= p_f.text_field :gender %>
      </div>
      <div>
        <%= p_f.label :birth_day, 'Date of birth' %>
        <%= p_f.date_field :birth_day %>
      </div>
      <div>
        <%= p_f.label :age, 'Age(in years)' %>
        <%= p_f.number_field :age %>
      </div>
      <div>
        <%= p_f.label :phone_number, 'Phone Number' %>
        <%= p_f.text_field :phone_number %>
      </div>
      <div>
        <%= p_f.label :email, 'E mail' %>
        <%= p_f.email_field :email %>
      </div>
      <div>
        <%= p_f.label :insurance, 'Insurance' %>
        <%= p_f.text_field :insurance %>
      </div>
    <% end %>
  </fieldset>
  <fieldset>
    <div>
      <%= f.label :protocol_number, 'Protocol Number' %>
      <%= f.text_field :protocol_number %>
    </div>
    <div>
      <%= f.label :status, 'Status' %>
      <%= f.select :status, [['Gross sectioning', 1], ['Histotecnology', 2], ['Microscopic examination', 3], ['Diagnosed', 4]] %>
    </div>
    <div>
      <%= f.label :organ, 'Organ' %>
      <%= f.text_field :organ %>
    </div>
    <div>
      <%= f.label :type_of_sample, 'Sample' %>
      <%= f.select :type_of_sample, [['Biopsy', 1], ['Citology', 2], ['Autopsy', 3]] %>
    </div>
    <div>
      <%= f.label :physician, 'Physician' %>
      <%= f.text_field :physician %>
    </div>
    <div>
      <%= f.label :speciality, 'Speciality' %>
      <%= f.text_field :speciality %>
    </div>
    <div>
      <%= f.label :pathologist_id, 'Pathologist' %>
      <%= f.collection_select :pathologist_id, Pathologist.order(:last_name), :name, :full_name %>
    </div>
  </fieldset>
  <fieldset>
    <div>
      <%= f.label :macro_description %>
      <%= f.text_area :macro_description %>
    </div>
    <div>
      <%= f.label :micro_description %>
      <%= f.text_area :micro_description %>
    </div>
    <div>
      <%= f.label :diagnosis, 'Diagnosis' %>
      <%= f.text_area :diagnosis %>
    </div>
    <div>
      <%= f.label :notes %>
      <%= f.text_field :notes %>
    </div>
  </fieldset>
  <fieldset>
    <div>
      <%= f.submit 'Acept and save'%>
    </div>
  </fieldset>
<% end %>
