<h1>Cases</h1>
<div>
  <%= form_with url: cases_url, method: :get do |form| %>
    <%= form.select :scope, [['Protocol Number', 'protocol_number'],['DNI', 'dni'],['Patient surname', 'patient_last_name'], ['Pathologist','pathologist_last_name' ]] %>
    <%= form.text_field :query, placeholder: 'protocol number, DNI, last name' %>
    <%= form.submit "Search", class: "button is-info" %>
  <% end %>
</div>
<div>
  <%= render "cases_table", cases: @cases %>
</div>
