<div>
  <%= form_with url: cases_url, method: :get do |form| %>
    <div class="field has-addons">
      <div class="control">
        <span class="select">
          <%= form.select :scope, [['Protocol Number', 'protocol_number'],['DNI', 'dni'],['Patient surname', 'patient_last_name'], ['Pathologist','pathologist_last_name' ]] %>
        </span>
      </div>
      <div class="control">
        <%= form.text_field :query, class: 'input', placeholder: 'protocol number, DNI, last name' %>
      </div>
      <div class="control">
        <%= form.submit "Search", class: "button is-info" %>
      </div>
    </div>
  <% end %>
</div>
<br>
<div>
  <%= turbo_frame_tag "cases" do %>
    <h1 class="title has-text-centered">Search Results</h1>
    <%= render "cases_table", cases: @cases %>
  <% end %>
</div>
