<div class="container is-fluid mt-4">
  <h1 class="title">Initialize new case</h1>
  <%= render 'patients/patient', patient: @patient %>
  <div class="mt-4">
    <%= form_with model: @case do |c_f| %>
      <%= render 'layouts/form_messages', object: @case %>
      <fieldset>
        <%= c_f.hidden_field :patient_id, value: params[:patient_id] %>
        <%= render 'case_subform', c_f: c_f %>
        <div class="field is-grouped">
          <%= c_f.submit 'Acept and save', class: 'control button is-success' %>
          <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class:'control button is-warning' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
