<h1>Cases#new</h1>
<p>If patient is not in database please regiter a new patient en the next link</p>
<%# link_to "New Patient", new_patient_path, class: 'button is-primary' %>
<!--
<%= form_with url: '/patients', method: :get do |f| %>
  <div>
    <%= f.label :dni, "Patien DNI" %>
    <%= f.text_field :dni %>
  </div>
  <div>
    <%= f. submit "Buscar" %>
  </div>
<% end %>
-->
<%= render 'case_form', my_case: @case %>
