<h1 class="title has-text-centered">Search Results</h1>
<% if @patient %>
  <div class="table-container">
    <table class = "table mx-auto">
      <thead>
        <tr>
          <th>Patient name</th>
          <th>Patient DNI</th>
          <th>Total cases</th>
          <th>Pending cases</th>
          <th>Diagnosed cases</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= button_to @patient.full_name, new_case_path, method: :get, params: {patient_id: @patient.id}, class: 'button is-text', data:{turbo_frame: '_top'} %>
          </td>
          <td><%= @patient.dni %></td>
          <td><%= @patient.cases.count %></td>
          <td><%= @patient.cases.not_diagnosed.count %></td>
          <td><%= @patient.cases.diagnosed.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="notification has-text-centered">
    <p class ="title is-size-4" >Patient not found!</p>
    <%= link_to 'Create new patient and case', new_patient_path, data:{turbo_frame: '_top'} %>
  </div>
<% end %>
