<h1>Labir</h1>
<p>Pathology reports</p>
<div class="columns">
  <div class="column is-two-fifths">
    <div>
      <p>Initialize new case</p>
      <%= button_to "New case",
              'x',
              class: 'button is-primary' %>
    </div>
    <div>
      <p>Search case, cases or patient records</p>
      <div>
        <%= form_with url: "/search", method: :get do |form| %>
          <%= form.label :query, "Search for:" %>
          <%= form.text_field :query, placeholder: 'protocol number, DNI, last name' %>
          <%= form.submit "Search", class: "button is-info" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="column">
    <h2>Recent cases</h2>
    <table>
      <tr>
        <th>protocol</th>
        <th>DNI</th>
        <th>Name</th>
        <th>Pathologist</th>
        <th>Type of Sample</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
      <%= @cases.each do |c| %>
        <tr>
          <td><%= c.protocol_number %></td>
          <td><%= c.patient.dni %></td>
          <td><%= c.patient.full_name %></td>
          <td><%= c.pathologist.full_name %></td>
          <td><%= c.type_of_sample %></td>
          <td><%= c.status %></td>
          <td><%= c.notes %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
