<div class="container is-fluid mt-4">
  <div class="columns">
    <div class="column is-one-quarter is-flex is-flex-direction-column is-justify-content-start mt-6">
      <div class="has-text-left">
        <p>Initialize new case</p>
        <div class="patient_form">
          <%= form_with url: patients_url, method: :get do |f| %>
            <div class="field has-addons has-addons-left">
              <div class="control">
                <%= f.text_field :patient_search, class: 'input', placeholder: 'DNI' %>
              </div>
              <div class="control">
                <%= f.submit 'New Case', class: 'button is-info', data:{turbo_frame: 'cases'} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="has-text-left">
        <p>Search cases by protocol, DNI, Surname or pathologist</p>
        <%= form_with url: cases_url, method: :get do |form| %>
          <div class="field has-addons">
            <div class="control">
              <span class="select">
                <%= form.select :scope, [['Protocol', 'protocol_number'],['DNI', 'dni'],['Surname', 'patient_last_name'], ['PATH','pathologist_last_name' ]] %>
              </span>
            </div>
            <div class="control">
              <%= form.text_field :query, class: 'input' %>
            </div>
            <div class="control">
              <%= form.submit "Search", class: "button is-info", data:{turbo_frame: 'cases'} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column">
      <%= turbo_frame_tag 'cases' do %>
        <h1 class= "title has-text-centered" >Recent cases</h2>
        <%= render 'cases/cases_table', cases: @cases %>
      <% end %>
    </div>
  </div>
</div>
