<div>
  <h2 class= "subtitle">Patient Info</h1>
  <table class="table">
    <tr>
      <th>First surename</th>
      <td><%= patient.f_last_name %></td>
      <th>Second surename</th>
      <td><%= patient.l_last_name %></td>
    </tr>
    <tr>
      <th> First name</th>
      <td><%= patient.name %></td>
      <th>Sex</th>
      <td><%= patient.gender %></td>
    </tr>
    <tr>
      <th>Date of birth</th>
      <td><%= patient.birth_day %></td>
      <th>Age</th>
      <td><%= patient.age %></td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td><%= patient.phone_number %></td>
      <th>E-mail</th>
      <td><%= patient.email %></td>
    </tr>
    <tr>
      <th>DNI</th>
      <td><%= patient.dni %></td>
      <th>Insurance</th>
      <td><%= patient.insurance %></td>
    </tr>
  </table>
  <div class="field is-grouped">
    <%= link_to 'Edit Patient info', edit_patient_path(patient), class: 'control button is-success' %>
    <%= link_to 'View Profile', patient_path(patient), class: 'control button is-info' %>
    <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class:'control button' %>
  </div>
</div>
