<%= form_with model: patient do |p_f| %>
  <%= render 'layouts/form_messages', object: patient %>
  <div>
    <%= p_f.label :dni, 'DNI' %>
    <%= p_f.text_field :dni %>
  </div>
  <div>
    <%= p_f.label :f_last_name, 'First surname' %>
    <%= p_f.text_field :f_last_name %>
  </div>
  <div>
    <%= p_f.label :l_last_name, 'Second surname' %>
    <%= p_f.text_field :l_last_name %>
  </div>
  <div>
    <%= p_f.label :name, 'First name' %>
    <%= p_f.text_field :name %>
  </div>
  <div>
    <%= p_f.label :gender, 'Sex' %>
    <%# p_f.text_field :gender %>
    <%= p_f.radio_button :gender, 'female' %>
    <%= p_f.label :gender_female, 'Female' %>
    <%= p_f.radio_button :gender, 'male' %>
    <%= p_f.label :gender_male, 'Male' %>
  </div>
  <div>
    <%= p_f.label :birth_day, 'Date of birth' %>
    <%= p_f.date_field :birth_day %>
  </div>
  <div>
    <%= p_f.label :age, 'Age(in years)' %>
    <%= p_f.number_field :age %>
  </div>
  <div>
    <%= p_f.label :phone_number, 'Phone Number' %>
    <%= p_f.text_field :phone_number %>
  </div>
  <div>
    <%= p_f.label :email, 'E mail' %>
    <%= p_f.email_field :email %>
  </div>
  <div>
    <%= p_f.label :insurance, 'Insurance' %>
    <%= p_f.text_field :insurance %>
  </div>
  <%= p_f.fields_for :cases do %>
  <% end %>
  <div>
    <%= p_f.submit 'Acept and save', class: 'button is-success' %>
    <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class:'button is-warning' %>
    <%# link should redirect somwere else %>
  </div>
<% end %>
