<div>
  <%= turbo_frame_tag patient do %>
    <h2 class= "subtitle">Patient Info</h1>
    <div class="table-container">
      <table class="table">
        <tr>
          <th>First surename</th>
          <td><%= patient.f_last_name.capitalize %></td>
          <th>Second surename</th>
          <td><%= patient.l_last_name.capitalize if patient.l_last_name?%></td>
        </tr>
        <tr>
          <th> First name</th>
          <td><%= patient.name.titleize %></td>
          <th>Sex</th>
          <td><%= patient.gender.capitalize %></td>
        </tr>
        <tr>
          <th>Date of birth</th>
          <td><%= l patient.birth_day, format: :long %></td>
          <th>Age</th>
          <td><%= "#{patient.age} yo" %></td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td><%= patient.phone_number %></td>
          <th>E-mail</th>
          <td><%= patient.email %></td>
        </tr>
        <tr>
          <th>DNI</th>
          <td><%= patient.dni %></td>
          <th>Insurance</th>
          <td><%= patient.insurance.capitalize %></td>
        </tr>
      </table>
    </div>
    <div class="field is-grouped">
      <%= link_to 'Edit Patient info', edit_patient_path(patient), class: 'control button is-success' %>
      <%= link_to 'View Profile', patient_path(patient), class: 'control button is-info',data:{turbo_frame: '_top'} %>
      <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class:'control button',data:{turbo_frame: '_top'} %>
    </div>
  <% end %>
</div>
