 <%= form_with url: '/patients', method: :get do |f| %>
  <%= f.label :patient_search, 'Patient DNI' %>
  <%= f.text_field :patient_search %>
  <%= f.submit 'New Case', class: 'button is-success' %>
<% end %>
</div>
<% if params[:patient_search] %>
  <%= params[:patient_search] %>
  <%= render 'pages/search_result' %>
<% end %>
