<h2>Change your password</h2>
<%= turbo_frame_tag @pathologist do %>
  <%= form_with model: @pathologist, url: patch_password_path do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="field">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div class='field is-grouped' >
      <%= f.submit 'Acept and save', class: 'control button is-success', data:{turbo_frame: "_top"} %>
      <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: 'control button' %>
    </div>
  <% end %>
<% end %>
