<div class="container is-fluid mt-4">
  <h1 class='title'>Pathologists</h1>
  <%= turbo_frame_tag "patho" do%>
    <%= render 'patho_table', pathologists: @pathologists %>
  <% end %>
  <div class='is-grouped'>
    <%= link_to "New Pathologist", new_pathologist_path, class: 'button is-success', data:{turbo_frame: dom_id(Pathologist.new)}  %>
    <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: 'control button', data: {turbo_frame: "_top"} %>
  </div>
  <%= turbo_frame_tag dom_id(Pathologist.new) %>
</div>
