<h1 class='title'>Pathologists</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Registry Number</th>
    <th>Pending cases</th>
    <th>Diagnosed cases</th>
    <th>Total cases</th>
  </tr>
  <% @pathologists.each do |pathologist| %>
    <tr>
      <td><%= link_to pathologist.full_name, pathologist_path(pathologist) %> </td>
      <td><%= pathologist.registry_number %></td>
      <td><%= link_to pathologist.cases.not_diagnosed.count, pending_path(pathologist) %></td>
      <td><%= link_to pathologist.cases.diagnosed.count, finished_path(pathologist) %></td>
      <td><%= pathologist.cases.count %></td>
    </tr>
  <% end %>
</table>
<div class='is-grouped'>
  <%= link_to "New Pathologist", new_pathologist_path, class: 'button is-success'  %>
  <%= link_to 'Cancel', request.referer.present? ? request.referer : root_path, class: 'control button' %>
</div>
