<div>
  <h2 class='subtitle'><%= "#{@pathologist.full_name}'s Profile" %> </h2>
  <table class="table">
    <tr>
      <th>Surename</th>
      <td><%= @pathologist.last_name %></td>
      <th>Name</th>
      <td><%= @pathologist.name %></td>
      <th>Registry Number</th>
      <td>00000</td>
    </tr>
    <tr>
      <th>Pending cases</th>
      <td><%= @pending_cases.count %></td>
      <th>Diagnosed cases</th>
      <td><%= @finished_cases.count%></td>
      <th>Total cases</th>
      <td><%= @pathologist.cases.count %></td>
    </tr>
  </table>
</div>
<br>
<div>
  <h2 class="subtitle"> <%= "#{@pathologist.full_name}'s cases" %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Protocol number</th>
        <th>Patient DNI</th>
        <th>Patient Name</th>
        <th>Case status</th>
        <th>Acytions</th>
      </tr>
    </thead>
    <tbody>
      <% @pathologist.cases.each do |c| %>
        <tr>
          <th><%= c.protocol_number %></th>
          <td><%= c.patient.dni %></td>
          <td><%= link_to c.patient.full_name, patient_path(c.patient) %></td>
          <td><%= c.status.split('_').join(' ').capitalize %></td>
          <td class ="field is-grouped">
            <%= link_to "Show", case_path(c), class: 'control button is-success' %>
            <%= link_to "Edit", edit_case_path(c), class: 'control button is-info' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
