<div class="container is-fluid mt-4">
  <div >
    <h2 class='subtitle'><%= "#{@pathologist.full_name}'s Profile" %> </h2>
    <%= turbo_frame_tag @pathologist do %>
      <table class="table">
        <tr>
          <th>Surname</th>
          <td><%= @pathologist.last_name.titleize %></td>
          <th>Name</th>
          <td><%= @pathologist.name.titleize %></td>
          <th>Registry Number</th>
          <td><%= @pathologist.registry_number %></td>
        </tr>
        <tr>
          <th>Pending cases</th>
          <td> <%= link_to @pending_cases.count, pending_path, data:{turbo_frame: 'cases'} %></td>
          <th>Diagnosed cases</th>
          <td><%= link_to  @finished_cases.count, finished_path, data:{turbo_frame: 'cases'}%></td>
          <th>Total cases</th>
          <td><%= @pathologist.cases.count %></td>
        </tr>
        <td>
          <%= image_tag @pathologist.sign.variant(resize_to_limit: [100, 100]) if @pathologist.sign.attached? %>
        </td>
      </table>
      <%= link_to 'Edit pathologist info', edit_pathologist_path, class: 'control button is-info' %>
    <% end %>
  </div>
  <br>
  <div>
    <h2 class="subtitle"> <%= "#{@pathologist.full_name}'s cases" %></h2>
    <%= turbo_frame_tag 'cases' do %>
      <%= render 'pathologist_cases', cases: @pathologist.cases %>
    <% end %>
  </div>
</div>
