<nav class="navbar is-light has-shadow" role="navigation" aria-label="main navigation" data-controller="hamburguer">
  <div class="navbar-brand">
    <%# <a class="navbar-item" href="https://github.com/jjaviermd"> %>
    <%# need a logo %>
    <%# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> %>
    <%# <h1 class= 'is-size-4 has-text-weight-bold has-background-primary-light has-text-warning-dark' >LabiR</h1> %>
    <%# </a> %>
    <%= link_to 'Welcome', root_path %>
    <%= content_tag :p, current_laboratory.name.titleize, class: 'navbar-item' if laboratory_signed_in? %>
    <%= content_tag :p, current_pathologist.laboratory.name, class: 'navbar-item' if pathologist_signed_in? %>
    <%= content_tag :p, current_pathologist.full_name, class: 'navbar-item' if pathologist_signed_in? %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action= "hamburguer#expand" data-hamburguer-target="burguer">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" data-hamburguer-target = "link">
    <div class="navbar-start">
      <%= link_to 'Home', home_path, class: 'navbar-item is-primary' %>
      <%= link_to 'Patients', patients_path, class: 'navbar-item' %>
      <%= link_to 'Pathologists',pathologists_path, class: 'navbar-item' %>
      <!--
      <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        More
      </a>
      <div class="navbar-dropdown">
        <%= link_to 'Back to home', root_path, class: 'navbar-item' %>
        <%= link_to 'Patients', patients_path, class: 'navbar-item' %>
        <%= link_to 'Pathologists',pathologists_path, class: 'navbar-item' %>
        <hr class="navbar-divider">
        <%= link_to 'About', 'x', class: 'navbar-item' %>
        <%= link_to 'Settings', 'x', class: 'navbar-item' %>
        <%= button_to "Sign out",
                  destroy_laboratory_session_path,
                  method: :delete, class: 'navbar-item' %>
      </div>
    </div>
    -->
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'About', 'x', class: 'navbar-item' %>
          <%= link_to 'Templates', templates_path, class: 'navbar-item' %>
          <% if pathologist_signed_in? %>
            <%= button_to 'Sign Out', destroy_pathologist_session_path, method: :delete, class: 'navbar-item'  %>
          <% elsif laboratory_signed_in?%>
            <%= button_to "Sign out",
                  destroy_laboratory_session_path,
                  method: :delete, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
