<!DOCTYPE html>
<html>
  <head>
    <title>Labir</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render 'layouts/nav_bar' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <div>
      <br>
      <%= debug params if Rails.env.development?%>
      <br>
      <%= pathologist_signed_in? %>
      <br>
      <%= laboratory_signed_in? %>
      <br>
      <%= debug current_client.name if client_signed_in? %>
    </div>
  </body>
</html>
